<%= simple_form_for [@estimate] do |f| %>
    <label class='manual-label'>Date</label>
    <%= f.input :date, as: :date, label: false %>
    <%= f.input :address,
                as: :string,
                input_html: {
                    value: @estimate.address&.full_address,
                    data: { autocomplete_source: Address.autocomplete_source }
                } %>
    <%= f.hidden_field :address_id %>

    <%= f.button :submit %>
<% end %>
