<%= render 'shared/application_navbar' %>
<p id='notice'><%= notice %></p>

<div class='estimate-list'>
  <div class='estimate-count-header'>
    <div class='estimate-count'>
      <%= @estimates.count %> <%= 'Estimate'.pluralize(@estimates.count) %>
    </div>
    <div class='estimate-search-form'>
      <%= form_tag(estimates_path, method: :get) do %>
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
  </div>

  <div class='estimate-list-header'>
    <div class='estimate-list-header-item estimate-date'>
      Date
    </div>
    <div class='estimate-list-header-item estimate-client'>
      Client
    </div>
    <div class='estimate-list-header-item estimate-job-address'>
      Job Address
    </div>
    <div class='estimate-list-header-item estimate-total'>
      Total
    </div>
  </div>

  <% @estimates.each do |estimate| %>
      <%= link_to estimate_path(estimate), class: 'estimate'  do %>
          <div class='estimate-list'>
            <div class='estimate-list-item estimate-date'>
              <%= estimate.created_at.strftime('%m/%d/%y') %>
            </div>
            <div class='estimate-list-item estimate-client'>
              <%= estimate.client.full_name %>
            </div>
            <div class='estimate-list-item estimate-job-address'>
              <%= estimate.address.full_address %>
            </div>
            <div class='estimate-list-item estimate-total'>
              <%= estimate.total %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

<%= link_to 'Add New Estimate', new_estimate_path, class: 'add-estimate-button' %>
