<%= render 'shared/application_navbar' %>

<div class='invoice-list'>
  <div class='invoice-count-header'>
    <div class='invoice-count'>
      <%= @invoices.count %> <%= 'Invoice'.pluralize(@invoices.count) %>
    </div>
    <div class='titlebar-pull-right'>
      <%= form_tag invoices_path, method: :get do %>
        <div class='stacked-select'>
          From: <%= date_select :invoice,
                                :date_from,
                                selected: DateSelectHelper.new(params, :invoice, :date_from).parse(30.days.ago.to_date) %>
          To: <%= date_select :invoice,
                              :date_to,
                              selected: DateSelectHelper.new(params, :invoice, :date_to).parse(Date.today)%>
          <%= submit_tag 'Search' %>
          <%= link_to 'Clear Search', invoices_path %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_tag '/', method: :get, class: 'js-invoice-select-form' do %>
    <div class='invoice-list-header'>
      <div class='invoice-list-header-item checkbox'>
        <input type="checkbox" id="selectAll" value="selectAll">
      </div>
      <div class='invoice-list-header-item invoice-date'>
        Date
      </div>
      <div class='invoice-list-header-item invoice-client'>
        Client
      </div>
      <div class='invoice-list-header-item invoice-job-address'>
        Job Address
      </div>
      <div class='invoice-list-header-item invoice-status'>
        Status
      </div>
      <div class='invoice-list-header-item invoice-total'>
        Total
      </div>
    </div>

    <div class='invoices'>
      <% @invoices.each do |invoice| %>
          <div class='invoice-list-item checkbox'>
            <%= check_box_tag "selected_invoices[]", invoice.id %>
          </div>
      <%= link_to invoice_path(invoice), class: 'invoice'  do %>
          <div class='invoice-list-item invoice-date'>
            <%= invoice.job_date.strftime('%m/%d/%y') %>
          </div>
          <div class='invoice-list-item invoice-client'>
            <%= invoice.client.full_name %>
          </div>
          <div class='invoice-list-item invoice-job-address'>
            <%= invoice.job.full_address %>
          </div>
          <div class='invoice-list-item invoice-status'>
            <%= invoice.status %>
          </div>
          <div class='invoice-list-item invoice-total'>
            <%= invoice.total %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

  <div class='invoice-bottom-container l-shift'>
    <div class='left-buttons'>
      <a href='#' id='jsGeneratePDFInvoices'>Download PDF Invoices</a> |
      <a href='#' id='jsGenerateLabels'>Download Labels</a>
    </div>
  </div>
<% end %>

<%= paginate @invoices %>

<%= link_to new_invoice_path, class: 'add-record-btn' do %>
  <%= inline_svg 'add-record-btn.svg' %>
<% end %>
