<%= render 'shared/detail_topbar', content: "Invoice #{@invoice.id}" %>
<p id='notice'><%= notice %></p>

<div class='invoice-page-container'>
  <div class='invoice-details-container'>
    <%= render 'invoice_details' %>
  </div>
  <div class='invoice-top-right-container'></div>
  <div class='table-row-headers'>
      <div class='cell header item-name'>
        Service
      </div>
      <div class='cell header item-price'>
        Price
      </div>
      <div class='cell header item-quantity'>
        Quantity
      </div>
      <div class='cell header item-total'>
        Total
      </div>
      <div class='cell header item-buttons'>

      </div>

      <% @invoice_items.each do |item| %>
        <div class='table-rows invoice-item'>
          <div class='cell item-name'>
            <%= item.name %>
          </div>
          <div class='cell item-price'>
            <%= item.price %>
          </div>
          <div class='cell item-quantity'>
            <%= item.quantity %>
          </div>
          <div class='cell item-total'>
            <%= number_to_currency(item.total) %>
          </div>
          <div class='cell item-buttons'>
            <%= link_to 'Delete', [@invoice, item], method: :delete,  data: { confirm: "Are you sure you want to delete this item?" } %>
          </div>
        </div>
      <% end %>
  </div>
  <div class='invoice-buttons-container'>
    <div class='new-invoice-item-button'>
      <%= link_to 'Add New Item', new_invoice_invoice_item_path(@invoice) %>
    </div>
  </div>
  <div class='invoice-bottom-container'>
    <div class='left-buttons'>
        <%= link_to 'Edit Invoice Details', edit_invoice_path(@invoice) %> |
        <%= link_to 'Download as DF', download_pdf_invoice_path(@invoice) %> |
    </div>
    <div class='invoice-total'>
      <h3>Invoice Total: <%= number_to_currency(@invoice.total) %></h3>
    </div>
  </div>
</div>
