<div class='application-navbar'>
  <div class='clients-link'>
    <%= link_to 'Clients', clients_path, class: 'clients-link' %>
  </div>
  <div class='invoices-link'>
    <%= link_to 'Invoices', invoices_path, class: 'invoices-link' %>
  </div>
  <div class='payments-link'>
    <%= link_to 'Payments', payments_path, class: 'payments-link' %>
  </div>
  <div class='estimates-link'>
    <%= link_to 'Estimates', estimates_path, class: 'estimates-link' %>
  </div>
  <div class='services-link'>
    <%= link_to 'Services', services_path, class: 'services-link' %>
  </div>
</div>