<div class='details-section-header'>
  <%= address.street %>
  <%= link_to '+', edit_client_address_path(address)%>
</div>

<div class='details-subsection'>
  <%= render 'shared/detail', header: 'Street', content: address.street, css_class: 'street' %>
  <%= render 'shared/detail', header: 'City', content: address.city, css_class: 'city' %>
  <%= render 'shared/detail', header: 'State', content: address.state, css_class: 'state' %>
  <%= render 'shared/detail', header: 'Zip', content: address.zip, css_class: 'zip' %>
</div>
