<div class='recent-payments-container'>
  <div class='details-section-header'>
    Recent Payments
  </div>
  <div class='table-row-headers'>
    <div class='cell header recent-item-number'>
      Payment #
    </div>

    <div class='cell header recent-item-date'>
      Received
    </div>

    <div class='cell header recent-item-address'>
      Invoice #
    </div>

    <div class='cell header recent-item-total'>
      Amount
    </div>
  </div>

  <% if @client.recent_payments.any? %>
      <% @client.recent_payments.each do |payment| %>
          <%= link_to payment_path(payment) do %>
              <div class='recent-item'>
                <div class='cell recent-item-number'>
                  <%= payment.id %>
                </div>
                <div class='cell recent-item-date'>
                  <%= payment.created_at.strftime('%m/%d/%y') %>
                </div>
                <div class='cell recent-item-address'>
                  <%= payment.invoice_id %>
                </div>
                <div class='cell recent-item-total'>
                  <%= number_to_currency(payment.amount) %>
                </div>
              </div>
          <% end %>
      <% end %>
  <% else %>
      <div class='message'>
        <span class='no-recent-message'> No Recent Payments </span>
      </div>
  <% end %>
</div>
