<%= render 'shared/application_navbar' %>

<div class='client-list'>
  <div class='client-count-header'>
    <div class='client-count'>
      <%= @clients.count %> <%= 'Client'.pluralize(@clients.count) %>
    </div>
    <div class='client-search-form'>
      <%= form_tag(clients_path, method: :get) do %>
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
    <div class='client-reminders-button'>
      <%= link_to 'Generate Reminders', reminders_clients_path %>
    </div>
  </div>

  <div class='client-list-header'>
    <div class='client-list-header-item first-name'>
      First Name
    </div>
    <div class='client-list-header-item last-name'>
      Last Name
    </div>
    <div class='client-list-header-item address'>
      Address
    </div>
    <div class='client-list-header-item balance'>
      Balance
    </div>
  </div>

  <div class='clients'>
    <% @clients.each do |client| %>
      <%= link_to client_path(client), class: 'client'  do %>
          <div class='client-list-item first-name'>
            <%= client.first_name %>
          </div>
          <div class='client-list-item last-name'>
            <%= client.last_name %>
          </div>
          <div class='client-list-item address'>
            <%= client.full_billing_address %>
          </div>
          <div class='client-list-item balance'>
            <%= number_to_currency client.balance %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to new_client_path, class: 'add-record-btn' do %>
  <%= inline_svg 'add-record-btn.svg' %>
<% end %>
