<%= render 'client_details_topbar' %>
<p> <%= notice %></p>

<div class='client-page-container'>
  <div class='client-left-container'>
    <div class='client-details-container'>
      <div class ='details-section-header'>
        Client Information
        <%= link_to '+', edit_client_path %>
      </div>
        <div class='details-subsection'>
          <%= render 'shared/detail', header: 'Client Name', content: @client.full_name, css_class: 'client-name' %>
          <%= render 'shared/detail', header: 'Balance', content: number_to_currency(@client.balance), css_class: 'client-balance' %>
        </div>
    </div>

    <div class='billing-address-container'>
      <div class='details-section-header'>
        Billing Address
        <%= link_to '+', edit_client_address_path(@billing_address) %>
      </div>
      <div class='details-subsection'>
      <%= render 'shared/detail', header: 'Street', content: @billing_address.street, css_class: 'street' %>
      <%= render 'shared/detail', header: 'City', content: @billing_address.city, css_class: 'city' %>
      <%= render 'shared/detail', header: 'State', content: @billing_address.state, css_class: 'state' %>
      <%= render 'shared/detail', header: 'Zip', content: @billing_address.zip, css_class: 'zip' %>
      </div>
    </div>
    <div class='job-addresses-container'>
      <% @addresses.each do |address| %>
        <%= render 'job_addresses', address: address %>
      <% end %>
    </div>

    <%= link_to new_client_address_path(@client), class: 'details-button' do %>
      Add New Address
    <% end %>
  </div>

  <div class='client-right-container'>
    <% @addresses.each do |address| %>
      <%= render 'address_services', address: address, services: address.service_prices %>
    <% end %>
  </div>
</div>
