<%= render 'shared/detail_topbar', content: @client.full_name %>
<p> <%= notice %></p>

<div class='client-detail-container'>
  <div class='client-detail-nav'>
    <div class='vertical-nav-section'>
      <div class='nav-title-bar'>
        <span class='nav-title'>Details</span>
      </div>
      <div class='vertical-nav-links'>
        <div class='vertical-nav-link'> Overview </div>
        <div class='vertical-nav-link'> Invoices </div>
        <div class='vertical-nav-link'> Payments </div>
        <div class='vertical-nav-link'> Estimates </div>
        <div class='vertical-nav-link'> Services </div>
      </div>
    </div>
    <div class='vertical-nav-section'>
      <div class='nav-title-bar'>
        <span class='nav-title'>Addresses</span>
        <div class='nav-button'>Edit</div>
      </div>
      <div class='vertical-nav-links'>
        <div class='vertical-nav-link'> All Addresses </div>
        <% @addresses.each do |address| %>
          <div class='vertical-nav-link address'>
            <%= address.street %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='client-detail-body'>
    <%= render 'overview' %>
    <%= render 'invoices' %>
    <%= render 'payments' %>
    <%= render 'estimates' %>
    <%= render 'services' %>
  </div>
</div>
