<%= render 'shared/detail_topbar', content: @client.full_name %>
<p> <%= notice %></p>

<%= hidden_field_tag('active_section', @active_section) %>

<div class='client-detail-container'>
  <div class='client-detail-nav'>
    <div class='vertical-nav-section'>
      <div class='nav-title-bar'>
        <span class='nav-title'>Details</span>
      </div>
      <div class='vertical-nav-links'>
        <div class='vertical-nav-link overview active'>
          <%= link_to 'Overview', 'javascript:;', class: 'js-client-details-link', id: 'overview' %>
        </div>
       <div class='vertical-nav-link invoices'>
          <%= link_to 'Invoices', 'javascript:;', class: 'js-client-details-link', id: 'invoices' %>
        </div>
       <div class='vertical-nav-link payments'>
          <%= link_to 'Payments', 'javascript:;', class: 'js-client-details-link', id: 'payments' %>
        </div>
       <div class='vertical-nav-link estimates'>
          <%= link_to 'Estimates', 'javascript:;', class: 'js-client-details-link', id: 'estimates' %>
        </div>
       <div class='vertical-nav-link services'>
          <%= link_to 'Services', 'javascript:;', class: 'js-client-details-link', id: 'services' %>
        </div>
      </div>
    </div>
    <div class='vertical-nav-section'>
      <div class='nav-title-bar'>
        <span class='nav-title'>Addresses</span>
        <div class='nav-button'>Edit</div>
      </div>
      <div class='vertical-nav-links'>
        <div class='vertical-nav-link'> All Addresses </div>
        <% @addresses.each do |address| %>
          <div class='vertical-nav-link address'>
            <%= address.street %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='client-detail-body'>
    <%= render 'overview' %>
    <%= render 'invoices' %>
    <%= render 'payments' %>
    <%= render 'estimates' %>
    <%= render 'services' %>
  </div>
</div>
