<%= render 'client_details_topbar' %>

<div class='client-page-container'>
  <div class='client-left-container'>
    <div class='client-details-container'>
      <div class ='details-section-header'>
        Client Information
        <%= link_to '+', edit_client_path %>
      </div>

      <%= render 'detail', header: 'Client Name', content: @client.full_name, css_class: 'name' %>
      <%= render 'detail', header: 'Balance', content: number_to_currency(@client.balance), css_class: 'balance' %>
      #OUTSTANDING INVOICES
    </div>

    <div class='billing-address-container'>
      <div class='details-section-header'>
        Billing Address
        <%= link_to '+', edit_address_path(@billing_address) %>
      </div>
      <div class='details-subsection'>
      <%= render 'detail', header: 'Street', content: @billing_address.street, css_class: 'street' %>
      <%= render 'detail', header: 'City', content: @billing_address.city, css_class: 'city' %>
      <%= render 'detail', header: 'State', content: @billing_address.state, css_class: 'state' %>
      <%= render 'detail', header: 'Zip', content: @billing_address.zip, css_class: 'zip' %>
      </div>
    </div>
    <div class='job-addresses-container'>
      <div class='details-section-header'>
        <% @addresses.each do |address| %>
          <%= render 'job_addresses', address: address %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='client-right-container'>
    <% @address.each do |address| %>
      <%= render 'address_services', address: address, services: address.client_prices %>
    <% end %>
  </div>
</div>
