<%= render 'shared/application_navbar' %>

<div class='payment-list'>
  <div class='payment-count-header'>
    <div class='payment-count'>
      <%= @payments.count %> <%= 'Payment'.pluralize(@payments.count) %>
    </div>
  </div>

  <div class='payment-list-header'>
    <div class='payment-list-header-item payment-date'>
      Date
    </div>
    <div class='payment-list-header-item payment-client'>
      Client
    </div>
    <div class='payment-list-header-item payment-type'>
      Type
    </div>
    <div class='payment-list-header-item payment-amount'>
      Amount
    </div>
    <div class='payment-list-header-item destroy-button'>
      -
    </div>
  </div>

  <% @payments.each do |payment| %>
    <div class='payments'>
      <div class='payment'>
        <%= link_to edit_payment_path(payment)  do %>
          <div class='payment-list-item payment-date'>
            <%= payment.date_received.strftime('%m/%d/%y') %>
          </div>
          <div class='payment-list-item payment-client'>
            <%= payment.client.full_name %>
          </div>
          <div class='payment-list-item payment-type'>
            <%= payment.payment_type %>
          </div>
          <div class='payment-list-item payment-amount'>
            <%= payment.amount %>
          </div>
        <% end %>
          <div class='payment-list-item destroy-button'>
            <%= link_to 'Delete', { action: :destroy, id: payment.id }, method: :delete, data: { confirm: 'This action could effect the integrity of your billing records. Are you sure you want to proceed?' } %>
          </div>
      </div>
    </div>
  <% end %>
</div>

<div style='height: 50px;'></div>
<%= paginate @payments %>

<%= link_to new_payment_path, class: 'add-record-btn' do %>
  <%= inline_svg 'add-record-btn.svg' %>
<% end %>
