<div class='form-container'>
  <%= simple_form_for [@client, @address] do |f| %>
      <%= f.input :street %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
      <%= f.input :is_job_address?, label: 'Do you perform work at this address?' %>
      <br>
      <label class='manual-label'>Job Order</label>
      <%= f.input :position, label: false, wrapper_html: { class: 'numerical-input' }  %>
      <%= f.button :submit%>
  <% end %>
</div>
