<!DOCTYPE html>
<html>
  <head>
    <title>LandscapingAppV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='background-color: #f8f8f8;'>
    <%= render 'shared/application_topbar' %>
    <%= render 'shared/application_navbar' %>
    <%= yield %>
  </body>
</html>
